```
.env
.env.*
*.env
.env.local
.env.development
.env.production

__pycache__/
*.pyc
*.pyo
*.pyd
*.python
*.so
*.egg-info/
dist/
build/
*.egg
*.whl
venv/
env/
.virtualenv/
.venv/

crew/.env
**/memory/
chroma/
*.db
output/
logs/
.crewai/


```
